@font-face{font-family: Aileron; src: url(fonts/aileron_regular.otf) format("opentype");}
@font-face{font-family: Aileron; font-weight: bold; src: url(fonts/aileron_bold.otf) format("opentype");}
@font-face{font-family: Talbot; src: url(fonts/Talbot.otf) format("opentype");}
@font-face{font-family: Jeannot; src: url(fonts/Jeannot.otf) format("opentype");}

body{
	margin: 0px;
	margin-top: 30px;
	background-color: #fcfbeb;
}

header{
	background-color: white;
	z-index: 0;
	position: fixed;
  top: 0;
  margin-top: 60px; padding-bottom: 10px;
  transition: top 0.3s ease-in-out;
  width: 100%;
}

.nav-up{
    top: -300px;
}

.h1{
	font-family: Jeannot, Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: left;
}

a{
	color: black;
	text-decoration: none;
}

#zero{
	margin-top: 5px;
  margin-bottom: 10px;
}

#moinsquatre{
	transform: skewY(-4deg);
	margin-top: -5px;
  margin-bottom: 10px;
}

#quatre{
	transform: skewY(4deg);
	margin-top: -5px;
  margin-bottom: 10px;
}

#douze{
	transform: skewY(12deg);
	margin-top: -28px;
  margin-bottom: 28px;
}

#vingtdeux{
	transform: skewY(22deg);
	margin-top: -57px;
  margin-bottom: 55px;
}

footer{
	font-family: Aileron, Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 13px;
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
}

footer img{
	height: 130px;
}

/* PC */
@media screen and (min-width: 1024px){

.dev{
	display: none;
}

.com{
	width: 950px;
	left: 0;
	right: 0;
	margin: auto;
}

.turbohead img{
	width: 100%;
}

.column{
    float: left;
    width: 33.33%;
}

.column img{
	width: 305px;
}

.A{
	margin-top: -24px;
}

.B{
	margin-top: -70px;
}

.C{
	margin-top: -136px;
}

.G, .H, .I, .M, .N, .O, .Y, .Z, .AA, .AE {
	margin-top: -40px;
}

.J, .K, .L {
	margin-top: -95px;
}

.S{
	margin-top: 25px;
}

.T, .U {
	margin-top: 65px;
}

.AB{
	margin-top: -75px;
}

.AC{
	margin-top: -55px;
}

.AD{
	margin-top: -58px;
}

.AF{
	margin-top: -38px;
}

.AG{
	margin-top: -35px;
	margin-bottom: 130px;
}

#centre{
	text-align: center;
}

#centre p{
	margin-left: 6px;
}

#droite{
	text-align: right;
}

#droite p{
	margin-left: 12px;
}
}

/* Smartphone */
@media screen and (max-width: 1024px){

.dev{
	width: 305px;
	left: 0;
	right: 0;
	margin: auto;
}

.dev img{
	width: 100%;
}

.com{
	display: none;
}

.C, .E, .I, .K, .N, .P, .T, .V, .Y, .AA, .AE {
	margin-top: -40px;
}

.D, .J, .O, .U, .Z, .AF {
	margin-top: -93px;
}

.F, .H, .M, .Q, .AD {
	margin-top: 5px;
}

.G, .L, .R, .S, .W, .AB, .AC{
	margin-top: 23px;
}

.AG{
	margin-top: -15px;
	margin-bottom: 30px;
}
}
