@font-face{font-family: Aileron; src: url(fonts/aileron_regular.otf) format("opentype");}
@font-face{font-family: Aileron; font-weight: bold; src: url(fonts/aileron_bold.otf) format("opentype");}
@font-face{font-family: Blimey; src: url(fonts/Blimey-V03-RegularA.woff) format("woff");}

body{
	font-family: Aileron;
	margin:  0px;
	background-color: #F5F5F5;
}

header{
	background-color: white;
	box-shadow: 0px -10px 20px black;
	height: 50px;
	position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

h1{
	font-family: Blimey;
	text-align: center;
	margin-top: 0px; margin-bottom: 0px;
	font-style: italic; letter-spacing: -6px;
	font-size: 30px;
}

main{
	height: 4000px;
}

.nav-up {
    top: -61px;
}
