@font-face{font-family: Aileron; src: url(fonts/aileron_regular.otf) format("opentype");}
@font-face{font-family: Aileron; font-weight: bold; src: url(fonts/aileron_bold.otf) format("opentype");}
@font-face{font-family: Blimey; src: url(fonts/Blimey-V03-RegularA.woff) format("woff");}

body{
	font-family: Aileron;
	margin: 0px;
	background-color: #ededed;
}

.turbohead{
	z-index: 1;
	height: 60px;
	background-color: white;
	position: fixed;
  top: 0;
  width: 100%;
}

h1{
	font-family: Blimey;
	text-align: center;
	letter-spacing: 1px;
	margin-top: 5px; margin-bottom: 0px;
	font-size: 43px;
}

.turbohead a{
	text-decoration: none;
	color: black;
}

header{
	background-color: white;
	font-size: 14px;
	z-index: 0;
	position: fixed;
  top: 0;
  margin-top: 60px; padding-bottom: 10px;
  transition: top 0.3s ease-in-out;
  width: 100%;
}

header a{
	text-decoration: none;
	color: black;
}

.onglet{
	border-bottom: solid 1px black;
	padding-left: 20px; padding-right: 20px; padding-top: 4px;
  margin-left: 30px; margin-top: 7px;
	text-align: center;
	height: 20px;
	display: inline-block;
}

.nav-up{
    top: -300px;
}

.onglet:hover{
	border-bottom: solid 2px black;
	font-weight: bolder;
}

main{
	height: 4000px;
}

footer{
	background-color: white;
	font-size: 12px;
	padding-bottom: 90px; padding-left: 30px; padding-top: 15px;
}

footer a{
	color: black;
	text-decoration: none;
	border-bottom: solid 1px black;
}
